*
!pw-image-generation/
!pw-image-generation/**
!pw-redbook-image/
!pw-redbook-image/**
!pw-aippt/
!pw-aippt/**
!task.md

!pw-aippt-old/
!pw-aippt-old/**

!pw-embedded-c-style/
!pw-embedded-c-style/**
